/* style the login form */
mat-form-field {
  width: 100%;
  @media (min-width:599px) {
    width: 80%;
  }
  @media(min-width:959px) {
    width: 60%;
  }
}
/* style the card */
mat-card {
  padding: 24px 32px;
}
/* style the anchor tags */
a {
  padding: 12px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
