<!-- page title -->
<h1>Login</h1>
<!-- card with login form in it -->
<mat-card>
  <!-- if the user is not authenticated -->
  <div *ngIf="!user" fxLayout="column" fxLayoutAlign="start center">
    <!-- card title -->
    <h2>{{newUser ? 'Sign Up' : 'Login'}}</h2>
    <!-- email input -->
    <mat-form-field>
      <input matInput type="email" [(ngModel)]="credentials.email" placeholder="email">
    </mat-form-field>
    <!-- password input -->
    <mat-form-field>
      <input matInput type="password" [(ngModel)]="credentials.password" placeholder="password">
    </mat-form-field>

    <!-- show Signup button and link to login form if they are a new user -->
    <ng-template [ngIf]="newUser" [ngIfElse]="existingUser">
      <button mat-raised-button (click)="signup()" [disabled]="!credentials.email || !credentials.password" style="margin-right: 12px;">Signup</button>
      <a href="javascript:void(0);" (click)="toggleNewUser()">Already an existing user?</a>
    </ng-template>
    <!-- show login button and link to signup form if they are an existing user -->
    <ng-template #existingUser>
      <button mat-raised-button (click)="login()" [disabled]="!credentials.email || !credentials.password">Login</button>
      <a href="javascript:void(0);" (click)="toggleNewUser()">New user?</a>
    </ng-template>
    <!-- display any error messages for authentication attempts -->
    <div *ngIf="errorMessage" style="color:crimson">{{errorMessage}}</div>
  </div>

  <!-- if the user is authenticated, show a welcome message and a logout button -->
  <div *ngIf="user" fxFlex>
    <h1>Welcome {{ user?.email }}!</h1>
    <button mat-raised-button (click)="logout()" *ngIf="user">Logout</button>
  </div>
</mat-card>
