<!-- page title -->
<h1>Welcome!</h1>
<!-- page content -->
<mat-card>
  <h2>Welcome to David's To Do Application!</h2>
  <p>Thank you for checking out my To Do Application! You will need to login or sign up if you are a new member. Then
    you can click on the "To Dos" option in the nav-bar to start creating your very own To Do lists!</p>
  <p>You can check out the <a [routerLink]="['/about']">"About"</a> option in the nav-bar to learn more about this
    application and how to use it.</p>
</mat-card>
